@import url('header.css');
@import url('banner.css');
@import url('carousel.css');
@import url('topicos.css');
@import url('contato.css');
@import url('rodape.css');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

html {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    font-style: normal;
    font-weight: 400;
    color: var(--black);
    background-color: var(--background-color);
}

:root {
    --background-color: #EBECEE;
    --white: #fff;
    --black: #000;
    --orange: #EB9B00;
    --font-josefin: 'Josefin Sans', sans-serif;
}